.about {
    background: $background-tertiary;

    text-align: center;

    padding: 100px 0;
}

article {
    display: flex;
}

.text-flex, .article-image, .bucket .article-text {
    width: 50%;
}

.favourite {
    .article-image {
        order: -1;
        position: relative;
        z-index: 1;
        top: -40px;
    }

    .article-image:before {
        content: "";
        background: $background-secondary;

        position: absolute;
        z-index: -1;
        right: -20px;
        top: 20px;

        width: 100vw;
        height: 100%;
    }

    .text-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 20px 0 20px 10%;
    }
}

.bucket {
    padding-top: 30px;

    .article-text {
        text-align: right;
        padding: 20px 10% 20px 0;
    }

    .article-image {
        position: relative;
        z-index: 1;
        top: 20px;
    }

    .article-image:before {
        content: "";
        background: $background-primary;

        position: absolute;
        z-index: -1;
        left: 20px;
        top: 20px;

        width: 100vw;
        height: 100%;
    }
}

.journey {
    background: $background-tertiary;

    padding: 100px 0;

    .container {
        display: flex;
    }

    .journey-image {
        width: 25%;
        position: relative;
        top: -20px;
        left: -20px;
        box-shadow: 20px 20px 0 0 $background-secondary;
    } 
    
    .journey-text {
        width: 75%;
        padding-left: 7%;
    }
}

.gallery {
    .gallery-heading {
        width: 100%;
    }

    ul {
        @include center-flex();
        flex-wrap: wrap;
        margin-top: 50px;

        li {
            width: calc(100%/3 - 4%);
            margin: 2%;
        }
    }
}