.about {

    text-align: center;

    padding: 100px 0;
}

article {
    display: flex;
}

.text-flex, .article-image, .bucket .article-text {
    width: 50%;
}

.favourite {
    .article-image {
        order: -1;
        position: relative;
        z-index: 1;
        top: -40px;
    }

    .article-image:before {
        content: "";
        background: $background-secondary;

        position: absolute;
        z-index: -1;
        right: -20px;
        top: 20px;

        width: 100vw;
        height: 100%;
    }

    .text-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 20px 0 20px 10%;
    }
}

.bucket {
    padding-top: 30px;

    .article-text {
        text-align: right;
        padding: 20px 10% 20px 0;
    }

    .article-image {
        position: relative;
        z-index: 1;
        top: 20px;
    }

    .article-image:before {
        content: "";
        background: $background-primary;

        position: absolute;
        z-index: -1;
        left: 20px;
        top: 20px;

        width: 100vw;
        height: 100%;
    }
}

.journey {

    padding: 100px 0;

    .container {
        display: flex;
    }

    .journey-image {
        width: 25%;
        position: relative;
        top: -20px;
        left: -20px;
        box-shadow: 20px 20px 0 0 $background-secondary;
    } 
    
    .journey-text {
        width: 75%;
        padding-left: 7%;
    }
}

.gallery {
    padding-bottom: 50px;
    .gallery-heading {
        width: 100%;
    }

    ul {
        @include center-flex();
        flex-wrap: wrap;
        margin-top: 50px;

        li {
            width: calc(100%/3 - 4%);
            margin: 2%;
        }
    }
}

.blog {
    h3 {
        @include font-size(32);
    }

    h4 {
        @include font-size(24);
    }

    main {
        padding: 75px 0;
        .container {
            display: flex;
            
            .about-side,
            .post, 
            .comment,
            .recent-text {
                background: #fff;
            }
        }
    }

    aside {
        width: calc(100%/3);
        margin-right: 3%;


        a {
            display: inline;
            text-transform: none;
            color: $primary-text;
        }
    }

    .blog-post {
        width: calc((100%/3)*2);
    }

    .recent-text {
        margin-top: 20px;
        padding: 10%;

        ul {
            margin-top: 25px;
            list-style: disc;
            padding-left: 30px;
            a {
                position: relative;
                left: 20px;
            }
        }
    }

    .about-side{
        padding: 10%;

        h4 {
            margin-top: 25px;
        }

        p {
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            color: $background-secondary;
        }
    }

    .post,
    .comment {
        padding: 5%;
    }
    
    .comments,
    .post {
        border-bottom: 5px $background-secondary solid;
    }

    .comment {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        img {
            object-fit: contain;
        }

        .profile-image {
            width: 15%;
            display: flex;
            flex-direction: column;

            div{
                max-width: 90px;
                max-height: 90px;
            }
        }

        .comment-text {
            width: 85%;
        }
    }

}

form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    input:not(:last-of-type) {
        margin-right: 2%;
    }

    input {
        width: calc(50% - 1%);
    }

    input, textarea {
        border: none;
        padding: 30px;
    }

    textarea, button {
        width: 100%;
    }

    textarea {
        min-height: 250px;
        resize: none;
        margin: 2% 0;
    }
}

.contact-section .container{
    display: flex;
    padding: 75px 0;
    .contact-holder {
        background: #fff;
        padding: 10%;
        margin-top: 20px;
    }

    .contact-info {
        width: 40%;
        margin-right: 3%;

        a {
            color: $primary-text;
            text-transform: none;
            font-weight: 700;
        }

        p {
            margin: 0;
        }

        address {
            font-style: normal;
        }
    }

    .sm-links {
        display: flex;
        a {
            color: $background-primary;
            @include font-size(24);
            padding-right: 30px;
        }
    }

    .sm-links + a {
        margin: 20px 0;
    }
}