@media (max-width: 1280px) {
    h2 {
        font-size: calc(4rem + 6vw);
    }

    .bucket {
        .image-background {
            display: flex;
            justify-content: flex-end;
        }
    }

    .journey {
        .journey-image {
            max-height: 300px;
        }
    }

    .contact-info {
        address {
            p {
                @include font-size(14);
            }
        }
    }
}

@media (max-width: 940px) {
    .container,
    .text-flex,
    .article-image,
    .bucket .article-text {
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 0 10px;
    }

    nav { 
        position: fixed; 
        z-index: 20;
        ul{
            background: $primary-text;
            flex-direction: column;
            
            position: fixed;
            z-index: 30;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: transform ease-in 0.3s;

            width: 50vw;

            li:nth-of-type(3) {
                font-size: 0;
                order: -1;
            }

            h1 {
                visibility: hidden;
                font-size: 0;
            }
        }
    }
    
    
    .mobile_only {
        display: inline-block;
        background: $primary-text;
        color: #fff;
    }

    input[type="checkbox"]:checked + ul, ul:focus-within {
        transform: translateX(0);
    }
    
    header {
        .header-flex {
            flex-direction: column;
            // align-items: center;
            // .header-text {
            //     width: 100%;
            //     text-align: center;
            // }
                text-align: center;
            .header-image {
                width: 100%;
                height: 70%;
                img {
                    margin: auto;
                }
            }
        }
    }

    article {
        flex-direction: column;

        .image-background {
            width: 100%;
            padding: 20px;
            img {
                margin: auto;
            }
        }

        .text-flex, .article-text {
            padding: 20px;
        }
    }

    .favourite {
        .image-background, .article-image {
            position: static;
        }

        .image-background {
            order: 0;
        }
    }

    .bucket {
        .image-background, .article-image {
            position: static;
        }
    }
    .journey {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .journey-image {
            min-width: 300px;
        }

        .journey-text {
            padding: 0;
            width: 100%;
        }
    }

    footer {
        ul {
            li {
                width: 100%;
                // padding: 0 40px;
                a {
                    flex-direction: column;
                    align-items: center;

                    .icon {
                        margin: 0;
                    }
                }
            }
        }
    }

    aside {
        display: none;
    }

    .blog {
        .blog-post {
            width: 100%;
        }

        footer {
            display: block;
            padding: 20px 0;
            text-align: center;

            .recent-text ul {
                list-style: none;
                padding: 0;

                a {
                    left: 0;
                }
            }
        }
    }

    .contact-section {
        .container {
            flex-direction: column;

            .contact-info {
                width: 100%;
                text-align: center;

                .sm-links {
                    @include center-flex();

                    a {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .gallery {
        .gallery-image {
            width: 100%;
            margin: 0;
            img {
                margin: auto;
                min-width: 100%;
            }
        }
    }
    form {
        input {
            width: 100%;
        }

        textarea, input {
            margin: 15px;
        }
    }
}

@media (max-width: 480px) {
    .blog {
        .comment {
            flex-direction: column;
            align-items: center;
        }
    }
}