$primary-text: #1F1F1F;
$nav-text: #fff;

$accent: #E4A436;

$background-primary: #345231;
$background-secondary: #709B6B;
$background-white: #F6F6F6;

//Hover and Focus
$a-hover-focus: "a:hover, a:focus";

//Fonts
$abril-fatface: 'Abril Fatface', cursive;
$montserrat: 'Montserrat', sans-serif;

//Font sizing
@mixin font-size($size-value){
	font-size: $size-value * 1px;
	font-size: ($size-value/10) * 1rem;
}

//Flexbox centering
@mixin center-flex() {
	display: flex;
	justify-content: center;
	align-items: center;
}