$primary-green: #709B6B;
$secondary-green: #345231;

$accent: #E4A436;

$background-black: #1F1F1F;
$background-white: #F6F6F6;

//Hover and Focus
$a-hover-focus: "a:hover, a:focus";

//Fonts
$abril-fatface: 'Abril Fatface', cursive;
$montserrat: 'Montserrat', sans-serif;

//Font sizing
@mixin fontSize($size-value){
	font-size: $size-value * 1px;
	font-size: ($size-value/10) * 1rem;
}

//Flexbox centering
@mixin centerFlex() {
	display: flex;
	justify-content: center;
	align-items: center;
}