html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  color: #1F1F1F;
  line-height: 3.2rem;
  overflow-x: hidden;
}

.articles, .gallery {
  background: #fff;
}

h1, h2, h3, h4, p, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
}

h2 {
  font-size: calc(4rem + 8vw);
}

h1, h3 {
  font-size: 42px;
  font-size: 4.2rem;
}

h4 {
  font-size: 32px;
  font-size: 3.2rem;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  margin: 25px 0;
}

button {
  border: none;
  background: #E4A436;
  padding: 10px 20px;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

nav {
  background: #345231;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav ul li {
  margin: 0 2%;
}

nav ul a {
  padding: 10px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #fff;
}

header {
  background: #345231;
  height: 100vh;
}

header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 85vh;
  width: 100%;
}

header .header-flex .header-text {
  width: 60%;
}

header .header-flex .header-image {
  position: relative;
  top: 50px;
  width: 40%;
  height: 100%;
}

header .header-flex .header-image img {
  -webkit-box-shadow: 20px 20px 0 0 #fff;
          box-shadow: 20px 20px 0 0 #fff;
}

header .header-flex h2:before {
  content: "";
  background: url(../assets/circle-text.png) no-repeat;
  background-size: contain;
  height: 85%;
  width: 100%;
  position: absolute;
  left: -50px;
}

header .header-flex h2 {
  color: #fff;
  position: relative;
  display: inline-block;
  margin: auto;
}

.blog nav {
  height: 10vh;
}

.blog header {
  background: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 45vh;
}

.blog header .header-text {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
}

.blog header .header-text h2 {
  font-size: 80px;
  font-size: 8rem;
  line-height: 6.3rem;
}

.about {
  text-align: center;
  padding: 100px 0;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-flex, .article-image, .bucket .article-text {
  width: 50%;
}

.favourite .article-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  z-index: 1;
  top: -40px;
}

.favourite .article-image:before {
  content: "";
  background: #709B6B;
  position: absolute;
  z-index: -1;
  right: -20px;
  top: 20px;
  width: 100vw;
  height: 100%;
}

.favourite .text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0 20px 10%;
}

.bucket {
  padding-top: 30px;
}

.bucket .article-text {
  text-align: right;
  padding: 20px 10% 20px 0;
}

.bucket .article-image {
  position: relative;
  z-index: 1;
  top: 20px;
}

.bucket .article-image:before {
  content: "";
  background: #345231;
  position: absolute;
  z-index: -1;
  left: 20px;
  top: 20px;
  width: 100vw;
  height: 100%;
}

.journey {
  padding: 100px 0;
}

.journey .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey .journey-image {
  width: 25%;
  position: relative;
  top: -20px;
  left: -20px;
  -webkit-box-shadow: 20px 20px 0 0 #709B6B;
          box-shadow: 20px 20px 0 0 #709B6B;
}

.journey .journey-text {
  width: 75%;
  padding-left: 7%;
}

.gallery {
  padding-bottom: 50px;
}

.gallery .gallery-heading {
  width: 100%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.gallery ul li {
  width: calc(100%/3 - 4%);
  margin: 2%;
}

.blog main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog main .container div {
  background: #fff;
}

.blog aside {
  width: 30%;
}

.blog aside a {
  display: inline;
}

.blog .blog-post {
  width: 70%;
}

footer {
  padding: 75px 0;
  background: #F6F6F6;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer ul li {
  width: calc(50% - 2%);
  margin: 1%;
}

footer .fas {
  background: #E4A436;
  border-radius: 50%;
  padding: 15px;
}

footer a {
  color: #1F1F1F;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a .icon {
  width: 10%;
  margin-right: 3%;
}

.copyright {
  background: #1F1F1F;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.copyright p {
  margin: 0;
}
